@page
@model Hackaton.App.Frontend.Pages.FormMigranteModel
@{
}


<div class="text-center">
    <form method="POST">

        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre">
        <label for="Apellidos" class="form-label">Apellidos:</label>
        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
        <label for="tipo_documento" class="form-label">Tipo de Documento:</label>
        <input type="text" class="form-control" id="tipo_de_documento" name="tipo_de_documento"
            placeholder="tipo de documento">
        <label for="identificacion" class="form-label">Número de Documento:</label>
        <input type="text" class="form-control" id="identificacion" name="identificacion"
            placeholder="Numero de documento">
        <label for="pais_origen" class="form-label">Pais Origen:</label>
        <input type="text" class="form-control" id="pais_origen" name="pais_origen" placeholder="Pais de origen">
        <label for="fecha_nacimiento" class="form-label">Fecha de fecha_nacimiento:</label>
        <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"
            placeholder="Fecha de Nacimiento">
        <label for="email" class="form-label">email:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        <label for="telefono" class="form-label">Telefono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
        <label for="direccion_actual" class="form-label">Direccion Actual:</label>
        <input type="text" class="form-control" id="direccion_actual" name="direccion_actual" placeholder="Direccion Actual">
        <label for="direccion_actual" class="form-label">Direccion Actual:</label>
        <input type="text" class="form-control" id="direccion_actual" name="direccion_actual" placeholder="Direccion Actual">
        <label for="ciudad" class="form-label">ciudad:</label>
        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
        <label for="situacion_laboral" class="form-label">Situacion Laboral:</label>
        <input type="text" class="form-control" id="situacion_laboral" name="situacion_laboral" placeholder="Situacion Laboral">




        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
